{% extends 'base.html' %}

{% block title %}
    {{ catalog_name }}
{% endblock %}


{% block content %}
    <h2>{{ catalog_name }}</h2>
{#    #}
{#    Здесь мы должны вывести всю продукцию данного  каталога. #}
{#    Конечно же с помощью цикла нужно пройтись по products и вывести все продукты.#}
{#    Каждый продукт должен содержать ссылку на детальную страницу продукта#}
{#    для этого используйте ссылку : <a href="{% url 'products:detail' product.slug %}">Имя продукта</a>#}

    {% for product in products %}
        <a href="{% url 'products:detail' product.slug %}">Имя продукта</a>
    {% endfor %}
{% endblock %}